body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #fff;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

p {
    font-size: 18px;
    margin: 10px 0;
}

#upgradeDescriptions {
    margin-top: 20px;
}

#upgradeDescriptions ul {
    list-style-type: none;
    padding: 0;
}

#upgradeDescriptions li {
    margin: 5px 0;
}

#shop {
    margin-top: 20px;
}

#gameStatistics {
    margin-top: 20px;
}

.themeButton {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.themeButton:hover {
    background-color: #0056b3;
}

.default {
    background-color: #fff;
    color: #000;
}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #f9f9f9;
    color: #000;
}
